<div class="row" *ngIf="addressList.length > 0">
	<div class="col-12 address-list-wrp" *ngIf="productsInCart.length > 0; else noItems">
		<form [formGroup]="checkoutFormGroup">
		<div class="address-wrp">
			<div class="address">
				<h6 class="title">
					<span>Shipping Address</span>
				</h6>
				<ul>
					<li>{{defaultAddress.address}}</li>
					<li>{{defaultAddress.wardNumber}}, {{defaultAddress.landMark}}</li>
					<li>{{defaultAddress.country}}, {{defaultAddress.state}}</li>
					<li>{{defaultAddress.city}}, {{defaultAddress.area}}</li>
					<li>{{defaultAddress.pincode}}</li>
					<li>Mob: {{defaultAddress.mobile}}</li>
				</ul>
				<!-- <h6 class="change-addr">Change Address</h6> -->
			</div>
			<div class="change-addr">
				<h6 class="title">
					<span>Change Address</span>
				</h6>
				<div class="input-group ctrl-grp">					
					<label class="form-group has-float-label">
						<select (change)="changeAddress($event)" formControlName="address" class="custom-select custom-select-lg">
							<option [value]="addr.status" *ngFor="let addr of addressList;">{{addr.address}} - {{addr.wardNumber ? addr.wardNumber + '- ' : ''}}{{addr.area}} - {{addr.city}} - {{addr.state}} - {{addr.country}} - {{addr.pincode}}</option>
						</select>
						<span>Change Address</span>
					</label>
				</div>
				
			</div>
		</div>		
		<div class="address-wrp">
			<div class="address">
				<h6 class="title">
					<span>Shipping Method</span>
				</h6>
				<div *ngFor="let method of shippingMethods" class="custom-control custom-radio">
				  <input (change)="getSelectedShippingMethod(method.id)" [value]="method.id" name="shippingmethod" attr.id="shippingmethod{{method.id}}" formControlName="shippingmethod" type="radio" class="custom-control-input" />
				  <label [ngClass]="isError(_shippingmethod)?'error':''" class="custom-control-label" attr.for="shippingmethod{{method.id}}">{{method.title}}</label>
				</div>
				<div class="shipping-charge"><p>Shipping Charge: <strong>{{shippingFee}}</strong></p></div>
			</div>
		</div>
		<div class="address-wrp">
			<div class="address">
				<h6 class="title">
					<span>Delivery Info</span>
				</h6>
				<div class="form-group">
					<label for="DeliveryDate">Delivery Date</label>
					<div class="input-group ctrl-grp">	
						<div class="input-group-prepend"><span class="input-group-text" [ngClass]="isError(_deliverydate)?'error':''"><span class="star-mandatory">*</span><i class="fa fa-user"></i></span></div>
						<label class="form-group has-float-label">
							<input id="DeliveryDate" class="form-control date-ctrl" formControlName="deliverydate" type="date" placeholder="Delivery Date"/>
							<span>Delivery Date</span><i for="DeliveryDate" class="fa fa-calendar"></i>
						  </label>
					</div>
					<small id="dateHelp" class="form-text text-muted">Please select your convinient delivery date</small>
				</div>
				<div class="form-group">
					<label for="DeliveryDate">Delivery Time</label>
					<select formControlName="deliverytime" class="custom-select custom-select-lg">
						<option [value]="time.id" *ngFor="let time of deliveryTimes;">{{time.title}}</option>
					</select>
					<small id="dateHelp" class="form-text text-muted">Please select your convinient delivery time</small>
				</div>  
			</div>
		</div>
		<div class="address-wrp">
			<div class="address">
				<h6 class="title">
					<span>Payment Method</span>
				</h6>
				<div *ngFor="let method of paymentMethods" class="custom-control custom-radio">
				  <input formControlName="paymentmethod" [value]="method.id" name="paymentmethod" attr.id="paymentmethod{{method.id}}" type="radio" class="custom-control-input" />
				  <label [ngClass]="isError(_paymentmethod)?'error':''" class="custom-control-label" attr.for="paymentmethod{{method.id}}">COD</label>
				</div>
			</div>
		</div>
		<div class="address-wrp">
			<div class="address cart-summary">
				<h6 class="title">
					<span>Item Summary</span>
				</h6>
				<div class="cart-content">
				  <div class="cart-list" *ngFor="let product of productsInCart">
					<img class="img-fluid" [src]="product.imageUrl" />
					<p class="prod-title">{{product.title}}</p>
					<p>{{product.quantity}} x {{product.price}} = {{product.quantity * product.price}}</p>						
				  </div>
			  </div>
				<div class="other-wrp">					
					<div class="row"><p class="col-8 text-right">Sub Total:</p><p class="col-4">{{productTotal}}</p></div>
					<div class="row"><p class="col-8 text-right">Discount (0 points used):</p><p class="col-4">-{{discount}}.00</p></div>
					<div class="row title"><p class="col-8 text-right font-weight-bold">Total:</p><p class="col-4 font-weight-bold">{{productTotal - discount}}</p></div>
				</div>
			</div>
		</div>
		<div class="address-wrp">
			<button *ngIf="productsInCart.length > 0" (click)="placeOrder()" [disabled]="!checkoutFormGroup.valid" class="btn btn-success btn-lg btn-block cart-btn">Place Order</button>
		</div>
		</form>
	</div>
	<ng-template #noItems>
		<div class="col-12">
			<p>Please add items in cart to proceed with checkout.</p>
			<div class="other-wrp">
				<div class="btn-group">
				  <button type="button" class="btn btn-primary" (click)="navigateHome()">Continue Shopping</button>
				</div>
			</div>
		</div>
	</ng-template>
</div>
