<div class="address-wrp">
	<button class="btn btn-success btn-lg btn-block add-addr-btn"><a [routerLink]="['../addnewaddress']">Add new address</a></button>
	<h5 class="nbb">Default Addresses</h5>
	<h5 class="nbb">Default Billing Address</h5>
	<ul class="address" *ngFor="let billingAddress of addressList.billingAddress">
		<li>{{billingAddress.streetAddr}}</li>
		<li>{{billingAddress.streetAddr2}}</li>
		<li>{{billingAddress.country}}, {{billingAddress.state}}</li>
		<li>{{billingAddress.city}}, {{billingAddress.postorzip}}</li>
	</ul>
	<h5 class="nbb">Default Shipping Address</h5>
	<ul class="address" *ngFor="let shippingAddress of addressList.shippingAddress">
		<li>{{shippingAddress.streetAddr}}</li>
		<li>{{shippingAddress.streetAddr2}}</li>
		<li>{{shippingAddress.country}}, {{shippingAddress.state}}</li>
		<li>{{shippingAddress.city}}, {{shippingAddress.postorzip}}</li>
	</ul>
	<h5 class="nbb">Additional Addresses</h5>
	<ul class="address" *ngFor="let additionalAddress of addressList.additionalAddress">
		<li>{{additionalAddress.streetAddr}}</li>
		<li>{{additionalAddress.streetAddr2}}</li>
		<li>{{additionalAddress.country}}, {{additionalAddress.state}}</li>
		<li>{{additionalAddress.city}}, {{additionalAddress.postorzip}}</li>
	</ul>
</div>