<div class="product">
	<a [routerLink]="['/products',product.categoryId,product.id]"><img class="img-fluid" src="../../assets/images/logo.png" /></a>
	<p class="title">{{product.title}}</p>
	<p class="price">Rs. {{product.price}}</p>
	<p class="wrp">		
		<span class="decinc" [ngClass]="quantity == 1 ? 'disabled' : ''" (click)="decQuantity()">-</span>
		<input type="text" value="1" [(ngModel)]="quantity" class="quantity" />
		<span class="decinc" (click)="incQuantity()">+</span>
	</p>
	<p class="wrp btn-wrp">
		<span class="heart" (click)="addToWishlist()"><i class="fa fa-heart faa-pulse" [ngClass]="product.isFavorate?'animated':''"></i></span>
		<span class="cart" (click)="addToCart()"><i class="fa fa-shopping-basket"></i></span>
	</p>
	<p class="cart-add-info">Added to cart <b>({{product.quantity}})</b>
</div>
