<div class="dashboard-wrp">
	<ul>
		<li><a [routerLink]="['myaccount']"><i class="fa fa-user"></i>Account</a></li>
		<li><a [routerLink]="['addressbook']"><i class="fa fa-address-book"></i>Address Book</a></li>
		<li><a [routerLink]="['mywishlist']"><i class="fa fa-heart"></i>Wishlist</a></li>
		<li><a [routerLink]="['mycart']"><i class="fa fa-shopping-cart"></i>My Cart</a></li>
		<li><a [routerLink]="['checkout']"><i class="fa fa-check-circle"></i>Checkout</a></li>
		<li><a [routerLink]="['orderhistory']"><i class="fa fa-history"></i>Order History</a></li>
	</ul>
</div>