<div class="product col-12">
	<a [routerLink]="['/products',product.categoryId,product.id]"><img [defaultImage]="appService.defaultImageUrl"  class="img-fluid" [lazyLoad]="product.imageUrl" /></a>
	<p class="title" >{{product.title}} <br /> <span class="price">Rs. {{product.price}}</span></p>
	<p class="wrp">
		<span class="decinc" [ngClass]="product.quantity == 1 ? 'disabled' : ''" (click)="decQuantity(product)">-</span>
		<input type="text" value="1" [(ngModel)]="quantity" class="quantity" />
		<span class="decinc" (click)="incQuantity(product)">+</span>
		<span class="cart" (click)="addToCart()"><i class="fa fa-shopping-basket"></i></span>
	</p>
	<span class="remove-item" (click)="removeWishlistItem()"><i class="fa fa-times-circle"></i></span>
</div>	