<div class="container">
	<div class="login-wrp">
		<form [formGroup]="loginFormGroup">
			<div class="input-group ctrl-grp">
			<span class="input-group-addon" [ngClass]="isError(_uname)?'error':''"><span class="star-mandatory">*</span><i class="fa fa-user"></i></span>
			<label class="form-group has-float-label">
				<input class="form-control" formControlName="uname" type="number" placeholder="Mobile Number"/>
				<span>Username</span>
			  </label>
			</div>
			<div class="input-group ctrl-grp">
			<span class="input-group-addon" [ngClass]="isError(_pwd)?'error':''"><span class="star-mandatory">*</span><i class="fa fa-user"></i></span>
			<label class="form-group has-float-label">
				<input class="form-control" type="password" formControlName="pwd" placeholder="Password"/>
				<span>Password</span>
			  </label>
			</div>
			<button class="btn btn-success btn-lg btn-block save-addr-btn ctrl-grp" [disabled]="!loginFormGroup.valid" (click)="navigateTo()">Login</button>
			<button (click)="navigateTo()" class="btn btn-success btn-lg btn-block cart-btn">Signup</button>
		</form>
	</div>
</div>