<h6>Login</h6>
<div class="container">
	<div class="login-wrp">
		<form [formGroup]="loginFormGroup">
			<div class="input-group ctrl-grp">
			<div class="input-group-prepend"><span class="input-group-text" [ngClass]="isError(_uname)?'error':''"><span class="star-mandatory">*</span><i class="fa fa-user"></i></span></div>
			<label class="form-group has-float-label">
				<input class="form-control" formControlName="uname" type="number" placeholder="Mobile Number"/>
				<span>Username</span>
			  </label>
			</div>
			<div class="input-group ctrl-grp">
			<div class="input-group-prepend"><span class="input-group-text" [ngClass]="isError(_pwd)?'error':''"><span class="star-mandatory">*</span><i class="fa fa-user"></i></span></div>
			<label class="form-group has-float-label">
				<input class="form-control" type="password" formControlName="pwd" placeholder="Password"/>
				<span>Password</span>
			  </label>
			</div>
			<button class="btn btn-success btn-lg btn-block" [disabled]="!loginFormGroup.valid" (click)="navigateTo()">Login</button>
			<button (click)="navigateToSignup()" class="btn btn-success btn-lg btn-block cart-btn">Signup</button>
		</form>
	</div>
</div>