.ord-title{
	font-weight:bold;
	margin-bottom:0;
	span{
		color:orange;
	}
}
.order-desc{
	font-size:0.8rem;
	margin-bottom:0;
}
.ord-status{
	line-height: 2.8rem;
    text-align: right;
	color: green;
    font-weight: bold;
    font-size: 0.8rem;
}	
.product{
	text-align:left;
	position:relative;
	margin-bottom:15px;
	img{
		float:left;
		margin-right:1rem;
	}	
	.subtotal{
		color:red;
		font-size:1rem;
		margin-bottom:0;
	}
	.title{
		width:73%;
		margin-top: 5px;
	}
}
.grand-total{
	width:45%;
}
