.ord-title{
	font-weight:bold;
	margin-bottom:0;
	span{
		color:orange;
	}
}
.order-desc{
	font-size:0.8rem;
	margin-bottom:0;
}
.ord-status{
    text-align: right;
    font-weight: bold;
    font-size: 0.8rem;
}	
.product{
	text-align:left;
	position:relative;
	margin-bottom:15px;
	img{
		float:left;
		margin-right:1rem;
	}	
	.subtotal{
		color:red;
		font-size:1rem;
		margin-bottom:0;
	}
	.title{
		width:73%;
		margin-top: 5px;
	}
}
.grand-total-wrp{
	background: #607D8B;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
	.grand-total{
		margin:0;
	}
}

.product-list-wrp {
	.product-wrp{
		margin-top: 0.3rem;
	}
}
.row.title{
	background: #e0e0e0;
    padding: 0.5rem;
}
