<squeezebox>
    <sb-item  *ngFor="let order of orderHistory">
        <sb-item-head><div class="row title"><div class="col-8"> <p class="ord-title">Order # <span>{{order.orderNo}}</span> {{order.totalAmount}}</p><p class="order-desc">Ordered at {{order.time}}</div><div class="ord-status col-4">Pending</div></div></sb-item-head>
        <sb-item-body>
            <div class="row product-list-wrp">
                <div class="product-wrp col-12">
                    <div class="product" *ngFor="let product of order.products">
                        <a [routerLink]="['/products',product.categoryId,product.id]"><img class="img-fluid" [src]="product.imageUrl" /></a>
                        <p class="title" >{{product.title}} <br /> <span class="price">Rs. {{product.price}}</span></p>
                        <p class="subtotal">Sub Total: Rs. {{product.price * product.quantity}}</p>
                    </div>
                </div>	
            </div>
            <p class="grand-total">Grand Total: <span class="float-right">{{order.totalAmount}}</span></p>
		</sb-item-body>
    </sb-item>
</squeezebox>