.product-wrp:first-child{
	margin-top:0.5rem;
}
.fa-shopping-basket{
	color: orange;
}
.other-wrp{
	margin-top:1rem;
	.btn-group > .btn, .btn-group-vertical > .btn{
		font-size: 0.9rem;
		border-radius: 0;
		padding:0.5rem 0.5rem;
		margin-right: 1rem;
		background:orange;
		border:0;
	}
	p{
		margin-top:1rem;
		margin-bottom:0;
	}
}
