<div class="container">
	<div class="signup-wrp">
		<form [formGroup]="signupFormGroup">
			<div class="input-group ctrl-grp">
			<div class="input-group-prepend"><span class="input-group-text" [ngClass]="isError(_mob)?'error':''"><span class="star-mandatory">*</span><i class="fa fa-user"></i></span></div>
			<label class="form-group has-float-label">
				<input class="form-control" formControlName="mob" type="number" minlength="10" minlength="10" placeholder="Mobile Number"/>
				<span>Mobile</span>
			  </label>
			</div>
			<div class="input-group ctrl-grp">
			<div class="input-group-prepend"><span class="input-group-text" [ngClass]="isError(_name)?'error':''"><span class="star-mandatory">*</span><i class="fa fa-user"></i></span></div>
			<label class="form-group has-float-label">
				<input class="form-control" formControlName="name" type="text" placeholder="Name"/>
				<span>Name</span>
			  </label>
			</div>
			<div class="input-group ctrl-grp">
			<div class="input-group-prepend"><span class="input-group-text" [ngClass]="isError(_email)?'error':''"><span class="star-mandatory"></span><i class="fa fa-user"></i></span></div>
			<label class="form-group has-float-label">
				<input class="form-control" formControlName="email" type="email" placeholder="E-mail"/>
				<span>E-mail</span>
			  </label>
			</div>
			<div class="input-group ctrl-grp">
			<div class="input-group-prepend"><span class="input-group-text" [ngClass]="isError(_pwd)?'error':''"><span class="star-mandatory">*</span><i class="fa fa-user"></i></span></div>
			<label class="form-group has-float-label">
				<input class="form-control" type="password" formControlName="pwd" placeholder="Password"/>
				<span>Password</span>
			  </label>
			</div>			
			<button (click)="navigateTo()" class="btn btn-success btn-lg btn-block" [disabled]="!signupFormGroup.valid">Signup</button>
			<button class="btn btn-success btn-lg btn-block" (click)="navigateToLogin()">Login</button>
		</form>
	</div>
</div>