.product{
	text-align:left;
	position:relative;
	img{
		float:left;
		margin-right:1rem;
	}
	.remove-item{
		padding: 0px 5px;
		right: 0.5rem;
	}
	.subtotal{
		color:red;
		font-size:1rem;
		margin-bottom:0;
	}
	.title{
		width:73%;
	}
}
